body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    border: 2px solid rgb(12, 0, 0);
    background-color: rgb(230, 228, 214);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.container img{
    /* width: 900px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* border: 2px solid black; */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.icon-bar{
    
   text-align: center;
   display: block;
   
}
.icon{
    display: flex;
   align-items: center;
   justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
   
}
.icon i{
    font-size: 2rem;
}

.modal-body button{
    margin-left: 100px;
}